body {
    font-family: Times New Roman, Times, serif;
    font-size: 20px;
    line-height: 1.4;
}

:root {
    --main-width: 820px;
    --correct: rgb(36,127,16);
    --wrong: rgb(218,15,15);
}

.dark {
    --correct: rgb(148,225,131);
    --wrong: rgb(255,139,139);
}
