@media print { 
  table {
    width: 100%;
    table-layout: fixed;
    font-family: Times New Roman;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    word-wrap: break-word;
    padding: 5px;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
  }

  .hebrew {
    direction: rtl;
    font-size: 24px;
  }

  .aspect {
    width: 15%;
  }

  .attr {
    width: 9%;
  }

  thead {
    display: table-header-group;
  }

  tr {
      height: 40px;
      white-space: nowrap;
  }
}


