table {
    min-width:80%;
    max-width:100%;
    display: table;
    width: unset;
}
caption {
    font-weight: bold;
    text-transform: uppercase;
}

th {
    background-color: var(--tertiary);
    min-width: unset !important;
    padding: 8px 10px !important;
    border-bottom: 1px solid  #111 !important;
}

td {
    padding: 8px 10px !important;
    border-bottom: 1px solid  rgb(214, 214, 214) !important;
}

